body{
background-color: white;
color: white;
text-decoration: black;

}

.border{
    float: right;
    text-align: center;
    background-color: white;
    color: black;

}

.size{
    border-spacing: 50px 50px;
    border-width: 10px;
    border-color: black;
}
.bell{
    text-align: right;
}
.it{
    background-color: red;
}
.container{
    border: solid black 5px;    
}
#bell{
    margin-right: 5%;
    color: #000;
}
.pot{
    border-color: black;
    border-style: solid;
    background-color: red;
}
